# Puerto de la aplicacion
PORT=4000

# String de conexion con Connection Pooler (Transaction Connection) - Puerto 6543 en Supabase
DATABASE_URL="postgresql://postgres:contrasena@host:6543/postgres?schema=public"

# Conexion directa a PostgreSQL (Direct Connection) - Puerto 5432 en Supabase (Usado para migraciones)
DIRECT_URL="postgresql://postgres:contrasena@host:5432/postgres?schema=public"

# Firma secreta para JSON Web Tokens (JWT)
# Generar: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET="tu_firma_secreta_jwt_aqui"
